/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle'; 
 .btn-success {
    color: #fff;
    background-color: #023642 !important;
    border-color: #023642 !important;
}
.btn-success:focus {
 box-shadow: none !important;
}
.btn-success:hover {
  background-color:  #1f778b !important;
  border-color:  #1f778b !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
